@using PagedList.Mvc
@model PagedList.IPagedList<QuanLyCuaHangThoiTrang.Model.PhieuBanHang>
@{ Layout = null; }
<div class="table-responsive">
    <table class="table table-bordered table-middle table-lilac" id="datatable">
        <thead>
            <tr>
                <th class="text-center" style="width: 5%;">Số Phiếu</th>
                <th class="text-center" style="width: 8%;">Ngày Bán</th>
                <th class="text-center" style="width: 10%;">Người Dùng</th>
                <th class="text-center" style="width: 10%;">Tên Khách hàng</th>
                <th class="text-center" style="width: 10%;">Số Điện Thoại</th>
                <th class="text-center" style="width: 10%;">Tổng Tiền</th>
                <th class="text-center" style="width: 10%;">Ghi Chú</th>
                <th class="text-center" style="width: 8%;">Ngày Chỉnh Sửa</th>
                <th class="text-center" style="width: 10%;">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (!item.IsDeleted)
                {
                    <tr class="border-warning" style="text-align:center">
                        <td>
                            @item.SoPhieuBanHang
                        </td>
                        <td>
                            @item.NgayBan.ToString("MM/dd/yyyy")
                        </td>
                        @if (item.NguoiDung != null)
                        {
                            <td>
                                @item.NguoiDung.TenNguoiDung
                            </td>
                        }
                        else
                        {
                            <td>
                            </td>
                        }

                        <td>
                            @item.TenKhachHang
                        </td>
                        <td>
                            @item.SoDienThoai
                        </td>
                        <td>
                            @item.TongTien
                        </td>
                        <td>
                            @item.GhiChu
                        </td>
                        <td>
                            @item.NgayChinhSua
                        </td>

                        @{
                            <td class="text-center">
                                <a href="@Url.Action("Edit", new { id = item.SoPhieuBanHang })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-edit"></i></a>
                                <a href="@Url.Action("Delete", new { id = item.SoPhieuBanHang })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-trash-alt"></i></a>
                                <a href="@Url.Action("Details", new { id = item.SoPhieuBanHang })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-info-circle"></i></a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="pull-left" style="padding-top:20px">
        <h3 class="panel-title">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </h3>
    </div>
    <div class="pull-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>