@model QuanLyCuaHangThoiTrang.Model.PhieuBanHang

@{
    ViewBag.Title = "XÓA PHIẾU BÁN HÀNG";
}
<div class="card" style="width: 25%; float: left !important">
    <div class="form-horizontal">
        <div>
            <div class="pull-left">
                <p class="card-title-heading" id="pageTitle">Phiếu Bán Hàng</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div>
            @Html.AntiForgeryToken()
            <div hidden>
                @Html.EditorFor(model => model.SoPhieuBanHang, new { htmlAttributes = new { @class = "form-control", @id = "soPhieuBanHang" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NgayBan, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.NgayBan, new { htmlAttributes = new { @class = "form-control datetimepicker", @id = "ngayban-pbh" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaNguoiDung, "Người Lập", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.NguoiDung.TenNguoiDung, new { htmlAttributes = new { @class = "form-control", @id = "maNguoiDung" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenKhachHang, "Tên Khách Hàng", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control", @id = "ngayNhapKho" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoDienThoai, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control", @id = "tongTien" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TongTien, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control ", @id = "ngayChinhSua" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control ", @id = "ngayChinhSua" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayChinhSua, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.NgayChinhSua, new { htmlAttributes = new { @class = "form-control datetimepicker", @id = "ngayChinhSua" } })
                </div>
            </div>

        </div>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="text-align:center">
                <input type="submit" value="Xóa Phiếu Bán Hàng" class="btn btn-danger" />
            </div>
        }
        <hr />
        <div class="form-group" style="text-align: center">
            <label style="color:red; font-weight: bold;">(*) Lưu ý tiền được tính theo VNĐ</label>
        </div>
    </div>
</div>
<div class="card" style="width: 70%; float: left !important; margin-left: 2%">
    <div class="form-horizontal">
        <form>
            @Html.AntiForgeryToken()
            <div>
                <div class="pull-left">
                    <p class="card-title-heading" id="pageTitle">Chi Tiết Phiếu Bán Hàng</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr />
            <div id="orderItems" class="table-responsive"></div>
            <div id="Items" hidden class="table-responsive"></div>
        </form>
    </div>
</div>