@model QuanLyCuaHangThoiTrang.Model.PhieuBanHang

@{
    ViewBag.Title = "CHỈNH SỬA PHIẾU BÁN HÀNG";
    ViewBag.SubTitle = "Tùy chỉnh các trường thông tin ở phía dưới";
}
<div class="card" style="width: 25%; float: left !important">
    <div class="form-horizontal">
        <div>
            <div class="pull-left">
                <p class="card-title-heading" id="pageTitle">Phiếu Bán Hàng</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div>
            @Html.AntiForgeryToken()
            <div hidden>
                @Html.EditorFor(model => model.SoPhieuBanHang, new { htmlAttributes = new { @class = "form-control", @id = "soPhieuBanHang" } })
            </div>
            <input type="hidden" id="tonkho-pbh" />
            <div class="form-group">
                @Html.LabelFor(model => model.NgayBan, htmlAttributes: new { @class = "control-label custom-label required" })
                <div class="col-md-10 custom-input">
                    @Html.EditorFor(model => model.NgayBan, new { htmlAttributes = new { @class = "form-control datetimepicker", @id = "ngayban-pbh", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.NgayBan, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaNguoiDung, "Người Lập", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DropDownList("MaNguoiDung", null, htmlAttributes: new { @class = "form-control minimal", @id = "maNguoiDung-pbh", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.MaNguoiDung, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenKhachHang, "Tên Khách hàng", htmlAttributes: new { @class = "control-label custom-label required" })
                <div class="col-md-10 custom-input">
                    @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control", @id = "tenkhachhang-pbh", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
                    <div id="warning-tenkhachhang"></div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoDienThoai, htmlAttributes: new { @class = "control-label custom-label required" })
                <div class="col-md-10 custom-input">
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "sodienthoai-pbh", @onkeypress = "return checkNumber(event, this)", @maxlength = "11", @min = "6" } })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                    <div id="warning-sodienthoai"></div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TongTien, htmlAttributes: new { @class = "control-label custom-label required" })
                <div class="col-md-10 custom-input">
                    @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control", @id = "tongtien-pbh", @disabled = "disabled", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control", @id = "ghiChu-pbh" } })
                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 custom-input">
                    <input type="submit" id="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </div>
            <hr />
            <div class="form-group" style="text-align: center">
                <label style="color:red; font-weight: bold;">(*) Lưu ý tiền được tính theo VNĐ</label>
            </div>
        </div>
    </div>
</div>
<div class="card" style="width: 70%; float: left !important; margin-left: 2%">
    <div class="form-horizontal">
        <form>
            @Html.AntiForgeryToken()
            <div>
                <div class="pull-left">
                    <p class="card-title-heading" id="pageTitle">Chi Tiết Phiếu Đặt Hàng</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr />
            <div id="orderItems" class="table-responsive"></div>
            <div id="Items" hidden class="table-responsive"></div>
        </form>
    </div>
</div>
