@{
    Html.Action("GetMenu", "Home");
    var Menu = (List<string>)TempData["ListMenu"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Manager/Content/sidebar.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="~/Areas/Manager/Content/header.css" rel="stylesheet" />
    <link href="~/Areas/Manager/Content/Component.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <title id="mainTitle">Quản Lý Cửa Hàng Thời Trang</title>
</head>
<body>
    <div class="sidebar">
        <div id="menu-action">
            <a><i class="fa fa-bars" style="color: black;"></i><img src="~/images/vintage.png" width="150" height="50" style="margin: 0px;" /></a>
        </div>
        <div class="sidebar-content">
            @*@if (Menu != null)
                {
                <ul>
                    <li><a onclick="Open('Home/Index')"><i class="fa fa-desktop"></i><span>Trang Chủ</span></a></li>
                    @foreach (string item in Menu)
                    {

                        switch (item)
                        {
                            case "QuanLyPhanQuyen":
                                {
                                    <li><a onclick="Open('PhanQuyen/Index')"><i class="fas fa-user-lock"></i><span>Quản Lý Phân Quyền</span></a></li>
                                    break;
                                }

                            case "QuanLyHangHoa":
                                {
                                    <li><a onclick="Open('HangHoa/Index')"><i class="fas fa-boxes"></i><span>Quản Lý Hàng Hóa</span></a></li>
                                    break;
                                }

                            case "QuanLyBanHang":
                                {
                                    <li><a onclick="Open('PhieuBanHang/Index')"><i class="fas fa-store"></i><span>Quản Lý Bán Hàng</span></a></li>
                                    break;
                                }

                            case "QuanLyDatHang":
                                {
                                    <li><a onclick="Open('PhieuDatHang/Index')"><i class="fas fa-shopping-cart"></i><span>Quản Lý Đặt Hàng</span></a></li>
                                    break;
                                }

                            case "QuanLyBaoHanh":
                                {
                                    <li><a onclick="Open('PhieuBaoHanh/Index')"><i class="fas fa-exchange-alt"></i><span>Quản Lý Bảo Hành</span></a></li>
                                    break;
                                }

                            case "QuanLyBaoCaoBanHang":
                                {
                                    <li><a onclick="Open('BaoCaoBanHang/Index')"><i class="fas fa-dollar-sign"></i><span>Quản Lý Doanh Thu</span></a></li>
                                    break;
                                }
                            case "QuanLyNhaCungCap":
                                {
                                    <li><a onclick="Open('NhaCungCap/Index')"><i class="fas fa-parachute-box"></i><span>Quản Lý Nhà Cung Cấp</span></a></li>
                                    break;
                                }
                            case "QuanLyNhapKho":
                                {
                                    <li><a onclick="Open('PhieuNhapKho/Index')"><i class="fas fa-plus-square"></i><span>Quản Lý Nhập Kho</span></a></li>
                                    break;
                                }
                            case "QuanLyXuatKho":
                                {
                                    <li><a onclick="Open('PhieuXuatKho/Index')"><i class="fas fa-minus-square"></i><span>Quản Lý Xuất Kho</span></a></li>
                                    break;
                                }
                            case "QuanLyKiemKho":
                                {
                                    <li><a onclick="Open('PhieuKiemKho/Index')"><i class="fas fa-clipboard-check"></i><span>Quản Lý Kiểm Kho</span></a></li>
                                    break;
                                }
                            case "QuanLyBaoCaoTonKho":
                                {
                                    <li><a onclick="Open('BaoCaoTonKho/Index')"><i class="fas fa-file-medical-alt"></i><span>Quản Lý Tồn Kho</span></a></li>
                                    break;
                                }
                            case "QuanLyPhieuChi":
                                {
                                    <li><a onclick="Open('PhieuChi/Index')"><i class="fas fa-file-excel-o"></i><span>Quản Lý Phiếu Chi</span></a></li>
                                    break;
                                }

                        }

                        <ul>
                            <li><a onclick="Open('Home/Index')"><i class="fa fa-desktop"></i><span>Trang Chủ</span></a></li>
                            @foreach (string item in Menu)
                            {

                                switch (item)
                                {
                                    case "QuanLyPhanQuyen":
                                        {
                                            <li><a onclick="Open('PhanQuyen/Index')"><i class="fas fa-user-lock"></i><span>Quản Lý Phân Quyền</span></a></li>
                                            break;
                                        }

                                    case "QuanLyHangHoa":
                                        {
                                            <li><a onclick="Open('HangHoa/Index')"><i class="fas fa-boxes"></i><span>Quản Lý Hàng Hóa</span></a></li>
                                            break;
                                        }

                                    case "QuanLyBanHang":
                                        {
                                            <li><a onclick="Open('PhieuBanHang/Index')"><i class="fas fa-store"></i><span>Quản Lý Bán Hàng</span></a></li>
                                            break;
                                        }

                                    case "QuanLyDatHang":
                                        {
                                            <li><a onclick="Open('PhieuDatHang/Index')"><i class="fas fa-shopping-cart"></i><span>Quản Lý Đặt Hàng</span></a></li>
                                            break;
                                        }

                                    case "QuanLyBaoHanh":
                                        {
                                            <li><a onclick="Open('PhieuBaoHanh/Index')"><i class="fas fa-exchange-alt"></i><span>Quản Lý Bảo Hành</span></a></li>
                                            break;
                                        }

                                    case "QuanLyBaoCaoBanHang":
                                        {
                                            <li><a onclick="Open('BaoCaoBanHang/Index')"><i class="fas fa-dollar-sign"></i><span>Quản Lý Doanh Thu</span></a></li>
                                            break;
                                        }
                                    case "QuanLyNhaCungCap":
                                        {
                                            <li><a onclick="Open('NhaCungCap/Index')"><i class="fas fa-parachute-box"></i><span>Quản Lý Nhà Cung Cấp</span></a></li>
                                            break;
                                        }
                                    case "QuanLyNhapKho":
                                        {
                                            <li><a onclick="Open('PhieuNhapKho/Index')"><i class="fas fa-plus-square"></i><span>Quản Lý Nhập Kho</span></a></li>
                                            break;
                                        }
                                    case "QuanLyXuatKho":
                                        {
                                            <li><a onclick="Open('PhieuXuatKho/Index')"><i class="fas fa-minus-square"></i><span>Quản Lý Xuất Kho</span></a></li>
                                            break;
                                        }
                                    case "QuanLyKiemKho":
                                        {
                                            <li><a onclick="Open('PhieuKiemKho/Index')"><i class="fas fa-clipboard-check"></i><span>Quản Lý Kiểm Kho</span></a></li>
                                            break;
                                        }
                                    case "QuanLyBaoCaoTonKho":
                                        {
                                            <li><a onclick="Open('BaoCaoTonKho/Index')"><i class="fas fa-file-medical-alt"></i><span>Quản Lý Tồn Kho</span></a></li>
                                            break;
                                        }
                                    case "QuanLyPhieuChi":
                                        {
                                            <li><a onclick="Open('PhieuChi/Index')"><i class="fas fa-file-excel-o"></i><span>Quản Lý Phiếu Chi</span></a></li>
                                            break;
                                        }

                                }
                                @*<li><a onclick="Open('HangHoa/Index')"><i class="fas fa-boxes"></i><span>Quản Lý Hàng Hóa</span></a></li>
                                    <li><a onclick="Open('PhieuBanHang/Index')"><i class="fas fa-store"></i><span>Quản Lý Bán Hàng</span></a></li>
                                    <li><a onclick="Open('PhieuDatHang/Index')"><i class="fas fa-shopping-cart"></i><span>Quản Lý Đặt Hàng</span></a></li>
                                    <li><a onclick="Open('PhieuBaoHanh/Index')"><i class="fas fa-exchange-alt"></i><span>Quản Lý Bảo Hành</span></a></li>
                                    <li><a onclick="Open('BaoCaoBanHang/Index')"><i class="fas fa-dollar-sign"></i><span>Quản Lý Doanh Thu</span></a></li>
                                    <li><a onclick="Open('NhaCungCap/Index')"><i class="fas fa-parachute-box"></i><span>Quản Lý Nhà Cung Cấp</span></a></li>
                                    <li><a onclick="Open('PhieuNhapKho/Index')"><i class="fas fa-plus-square"></i><span>Quản Lý Nhập Kho</span></a></li>
                                    <li><a onclick="Open('PhieuXuatKho/Index')"><i class="fas fa-minus-square"></i><span>Quản Lý Xuất Kho</span></a></li>
                                    <li><a onclick="Open('PhieuKiemKho/Index')"><i class="fas fa-clipboard-check"></i><span>Quản Lý Kiểm Kho</span></a></li>
                                    <li><a onclick="Open('BaoCaoTonKho/Index')"><i class="fas fa-file-medical-alt"></i><span>Quản Lý Tồn Kho</span></a></li>
                                    <li><a onclick="Open('PhieuChi/Index')"><i class="fas fa-file-excel-o"></i><span>Quản Lý Phiếu Chi</span></a></li>
                                    <li><a onclick="Open('PhanQuyen/Index')"><i class="fas fa-user-lock"></i><span>Quản Lý Phân Quyền</span></a></li>*@
            @*<li>
                    @Ajax.RawActionLink("<i class=\"fas fa-user-lock\"></i><span>Quản Lý Nhà Cung Cấp</span>", "Index", "BaoCaoTonKho", null,
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "content",
                            LoadingElementId = "loading"
                        }, null)
                </li>*@

            @*}
                        </ul>
                    }

                    }
                </ul>
                }*@
            <ul>
                <li><a onclick="Open('Home/Index')"><i class="fa fa-desktop"></i><span>Trang Chủ</span></a></li>
                <li><a onclick="Open('HangHoa/Index')"><i class="fas fa-boxes"></i><span>Quản Lý Hàng Hóa</span></a></li>
                <li><a onclick="Open('PhieuBanHang/Index')"><i class="fas fa-store"></i><span>Quản Lý Bán Hàng</span></a></li>
                <li><a onclick="Open('PhieuDatHang/Index')"><i class="fas fa-shopping-cart"></i><span>Quản Lý Đặt Hàng</span></a></li>
                <li><a onclick="Open('PhieuBaoHanh/Index')"><i class="fas fa-exchange-alt"></i><span>Quản Lý Bảo Hành</span></a></li>
                <li><a onclick="Open('BaoCaoBanHang/Index')"><i class="fas fa-dollar-sign"></i><span>Quản Lý Doanh Thu</span></a></li>
                <li><a onclick="Open('NhaCungCap/Index')"><i class="fas fa-parachute-box"></i><span>Quản Lý Nhà Cung Cấp</span></a></li>
                <li><a onclick="Open('PhieuNhapKho/Index')"><i class="fas fa-plus-square"></i><span>Quản Lý Nhập Kho</span></a></li>
                <li><a onclick="Open('PhieuXuatKho/Index')"><i class="fas fa-minus-square"></i><span>Quản Lý Xuất Kho</span></a></li>
                <li><a onclick="Open('PhieuKiemKho/Index')"><i class="fas fa-clipboard-check"></i><span>Quản Lý Kiểm Kho</span></a></li>
                <li><a onclick="Open('BaoCaoTonKho/Index')"><i class="fas fa-file-medical-alt"></i><span>Quản Lý Tồn Kho</span></a></li>
                <li><a onclick="Open('PhanQuyen/Index')"><i class="fas fa-user-lock"></i><span>Quản Lý Phân Quyền</span></a></li>
            </ul>

        </div>
        <div class="sidebar-footer">
            <a href="#"><i class="fa fa-user"></i></a>
            <a href="#"><i class="fa fa-cog"></i></a>
            <a href="@Url.Action("DangXuat","Home")"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <!-- Content -->
    <div class="main" id="cc">
        <div class="header" id="header">
            <div class="page-title-heading">
                @ViewBag.Title
                <div class="page-title-subheading">
                    @Html.Raw(@ViewBag.SubTitle)
                </div>
            </div>
        </div>
        <div id="content" style="margin-top: 25px">
            @RenderBody()
        </div>
        <div id="loading" style="display:none;margin-top:15%;vertical-align:middle; text-align:center;">
            <img src="~/images/giphy.gif" style="width: 200px; height:200px;margin:auto" />
        </div>
    </div>
    <!-- partial -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Areas/Manager/Scripts/sidebar.js"></script>
    <script src="~/Areas/Manager/Scripts/header.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Manager/Scripts/main.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Manager/Scripts/QuanLyKho/PhieuNhapKho.js"></script>
    <script src="~/Areas/Manager/Scripts/QuanLyKho/PhieuXuatKho.js"></script>
    <script src="~/Areas/Manager/Scripts/QuanLyKho/PhieuKiemKho.js"></script>
    <script src="~/Areas/Manager/Scripts/QuanLyKho/BaoCaoTonKho.js"></script>
    <script src="~/Areas/Manager/Scripts/QuanLyKho/PhieuDatHang.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
</body>
</html>
