@model QuanLyCuaHangThoiTrang.Model.BaoCaoBanHang
@using QuanLyCuaHangThoiTrang.Model
@{
    ViewBag.Title = "THÔNG TIN CHI TIẾT";
    IEnumerable<ChiTietBaoCaoBanHang> chiTiet = ViewData["ChiTiet"] as IEnumerable<ChiTietBaoCaoBanHang>;
}

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<div class="card" style="width: 25%; float: left !important">
    <div class="form-horizontal">
        <div>
            <div class="pull-left">
                <p class="card-title-heading" id="pageTitle">Phiếu Báo Cáo Bán Hàng</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div>
            @Html.AntiForgeryToken()
            <div hidden>
                @Html.EditorFor(model => model.MaBaoCaoBanHang, new { htmlAttributes = new { @class = "form-control", @id = "MaBaoCaoBanHang" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MaNguoiDung, "Người lập", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input" id="maNguoiDung">
                    @Html.DisplayFor(model => model.NguoiDung.TenNguoiDung, new { htmlAttributes = new { @class = "form-control", @id = "MaNguoiDung" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NgayBatDau, "Ngày bắt đầu", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input" id="NgayBatDau">
                    @Html.DisplayFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control", @id = "NgayBatDau" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayKetThuc, "Ngày kết thúc", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input" id="NgayKetThuc">
                    @Html.DisplayFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control", @id = "NgayKetThuc" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoLuongPhieuBanHang, "Số lượng phiếu bán hàng", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input" id="SoLuongPhieuBanHang">
                    @Html.DisplayFor(model => model.SoLuongPhieuBanHang, new { htmlAttributes = new { @class = "form-control", @id = "SoLuongPhieuBanHang" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TongTienBanHang, "Tổng tiền bán hàng (VND)", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input" id="TongTienBanHang">
                    @String.Format("{0:n0}", Model.TongTienBanHang)
                    @*@Html.DisplayFor(model => model.TongTienBanHang, new { htmlAttributes = new { @class = "form-control", @id = "TongTienBanHang" } })*@
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TongTienNhapHang, "Tổng tiền nhập hàng (VND)", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input" id="TongTienNhapHang">
                    @String.Format("{0:n0}", Model.TongTienNhapHang)
                    @*@Html.DisplayFor(model => model.TongTienNhapHang, new { htmlAttributes = new { @class = "form-control", @id = "TongTienNhapHang" } })*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TongDoanhThu, "Tổng doanh thu (VND)", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input" id="TongDoanhThu">
                    @String.Format("{0:n0}", Model.TongDoanhThu)
                    @*@Html.DisplayFor(model => model.TongDoanhThu, new { htmlAttributes = new { @class = "form-control", @id = "TongDoanhThu" } })*@
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 custom-input">
                    <button class="btn btn-sm btn-success btn-xs btn-push" style="padding: 5px 10px" id="print" onclick="printbc()">
                        <i class="fas fa-print"></i>
                        <span style="margin: 15px 10px !important;">In</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="form-group" style="text-align: center">
                <label style="color:red; font-weight: bold;">(*) Lưu ý tiền được tính theo VNĐ</label>
            </div>
        </div>
    </div>
</div>
<div class="card" style="width: 70%; float: left !important; margin-left: 2%">
    <div class="form-horizontal">
        <form>
            @Html.AntiForgeryToken()
            <div>
                <div class="pull-left">
                    <p class="card-title-heading" id="pageTitle">Chi Tiết Báo Cáo Bán Hàng</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr />
            <div id="addtoPrint">
                <div id="chitiet" class="table-responsive">
                    <table id="detailsTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Mã Báo Cáo Bán Hàng</th>
                                <th>Ngày bán</th>
                                <th>Số Lượng Phiếu Bán Hàng</th>
                                <th>Tổng tiền (VND)</th>
                                <th>Tỉ lệ (%)</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in chiTiet)
                            {
                                <tr>
                                    <td>@item.MaBaoCaoBanHang</td>
                                    <td>@item.Ngay.ToString("dd/MM/yyyy")</td>
                                    <td>@item.SoLuongPhieuBanHang</td>
                                    <td>@String.Format("{0:n0}", item.DoanhThu)</td>
                                    @{
                                        var tile = item.TiLe * 100;
                                        <td>@string.Format("{0:0.00}", tile)</td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div id="table1" hidden></div>

                </div>

                <hr />
                <hr />

                <div>
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    <div style="margin-top:16px;color:dimgrey;font-size:9px;font-family: Verdana, Arial, Helvetica, sans-serif;text-decoration:none;"></div>

                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var data = [];
    function addData(dt) {
        
        for (var i = 0; i < dt[0].length; i++) {

            dataPoints.push({
                x: new Date(parseInt(dt[0][i].date) * 1000),
                y: parseInt(dt[0][i].units)

            });
        }
        chart.render();
        //console.log(dataPoints.length);
    }

    $.ajax({
        url: "/Manager/BaoCaoBanHang/GetJsonForChart/" + $('#MaBaoCaoBanHang').val(),
        type: 'GET',
        dataType: 'json',
        success: function (res) {
            //console.log(res);
            data.push(JSON.parse(res));
            console.log(data);
            addData(data);
        }
    });

    var dataPoints = [];

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2",
        title: {
            text: "Biểu đồ báo cáo"
        },
        axisY: {
            title: "Tổng tiền (VND)",
            titleFontSize: 24,
            includeZero: true
        },
        data: [{
            type: "column",
            yValueFormatString: "#,### VND",
            dataPoints: dataPoints
        }]
    });
</script>
<script>
    function printbc() {
    var toPrint = document.getElementById('table1');
    var $table = $('<table id="hiddentable" style="border: solid; width:100%;padding:10px;margin-top: 5px; text-align:center "/>');
    $table.append('<thead><tr><th>Mã Báo Cáo Bán Hàng</th><th>Ngày bán</th><th>Số lượng phiếu bán hàng</th><th>Tổng tiền</th><th>Tỉ lệ</th></tr></thead>');
    var $tbody = $('<tbody/>');
    var ele = document.querySelectorAll("tbody > tr > td");
    for(var i = 0; i < ele.length; i+=5)
    {
        var $row = $('<tr style="border:solid">');
        $row.append($('<td/>').html(ele[i].innerText));
        $row.append($('<td/>').html(ele[i+1].innerText));
        $row.append($('<td/>').html(ele[i+2].innerText));
        $row.append($('<td/>').html(ele[i+3].innerText));
        $row.append($('<td/>').html(ele[i+4].innerText));
        $tbody.append($row);
    }

    $table.append($tbody);
    $('#table1').html($table);

    var popupWin = window.open('', '_blank', 'width=800,height=600'); //create new page
    popupWin.document.open(); //open new page
    popupWin.document.write('<html><body onload="window.print()">')

    popupWin.document.write('<p style="text-align:center"><img src="/images/header.png" class="img-responsive watch-right"  /></p>')

    popupWin.document.write('<p style="text-align:center; font-weight: bold; font-size: 30px">Báo cáo bán hàng</p>')

    popupWin.document.write('<b>');
    popupWin.document.write('Thông tin phiếu báo cáo bán hàng');
    popupWin.document.write('</b>');
    popupWin.document.write('<table style="border:solid; width:100%; padding: 10px;margin-top: 5px">')
    popupWin.document.write('<tr><td>')
    popupWin.document.write('Số phiếu nhập kho: ');
    popupWin.document.write($('#MaBaoCaoBanHang').val().trim());
    popupWin.document.write('</td>')
    popupWin.document.write('<td>')
    popupWin.document.write('Nhân viên: ');
    popupWin.document.write($('#maNguoiDung').text().trim());
    popupWin.document.write('</td></tr>')
    
    popupWin.document.write('<tr><td>')
    popupWin.document.write('Ngày bắt đầu: ');
    popupWin.document.write($('#NgayBatDau').text().trim());
    popupWin.document.write('</td>')
    popupWin.document.write('<td>')
    popupWin.document.write('Ngày kết thúc: ');
    popupWin.document.write($('#NgayKetThuc').text().trim());
    popupWin.document.write('</td></tr>')

    popupWin.document.write('<tr><td>')
    popupWin.document.write('Số lượng phiếu bán hàng: ');
    popupWin.document.write($('#SoLuongPhieuBanHang').text().trim() + " VND");
    popupWin.document.write('</td>')
    popupWin.document.write('<td>')
    popupWin.document.write('Tổng tiền bán hàng: ');
    popupWin.document.write($('#TongTienBanHang').text().trim());
    popupWin.document.write('</td></tr>')

    popupWin.document.write('<tr><td>')
    popupWin.document.write('Tổng tiền nhập hàng: ');
    popupWin.document.write($('#TongTienNhapHang').text().trim() + " VND");
    popupWin.document.write('</td>')
    popupWin.document.write('<td>')
    popupWin.document.write('Tổng doanh thu: ');
    popupWin.document.write($('#TongDoanhThu').text().trim());
    popupWin.document.write('</td></tr>')

    popupWin.document.write('</table>')

    popupWin.document.write('<br/>');
    popupWin.document.write('<b>');
    popupWin.document.write('Chi tiết báo cáo');
    popupWin.document.write('</b>');
    popupWin.document.write(toPrint.innerHTML);
    
    popupWin.document.write('<p style="text-align:right; padding-right: 50px">')
    popupWin.document.write('Thủ Đức, Ngày .... Tháng .... Năm ....')
    popupWin.document.write('<br>')
    popupWin.document.write('</p>')
    popupWin.document.write('<p style="text-align:center;float: right;margin-right: 125px;margin-top: -10px;">')
    popupWin.document.write('Kế toán')
    popupWin.document.write('<br>')
    popupWin.document.write('(Ký tên)')
    popupWin.document.write('</p>')
    popupWin.document.write('</html>');
    popupWin.document.close();
}
</script>