@model QuanLyCuaHangThoiTrang.Model.BaoCaoTonKho

@{
    ViewBag.Title = "THÔNG TIN BÁO CÁO TỒN KHO";
}

<div class="card" style="width: 25%; float: left !important">
    <div class="form-horizontal">
        <div>
            <div class="pull-left">
                <p class="card-title-heading" id="pageTitle">Báo Cáo Tồn Kho</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div>
            @Html.AntiForgeryToken()
            <div hidden>
                @Html.DisplayFor(model => model.MaBaoCaoTonKho, new { htmlAttributes = new { @class = "form-control", @id = "maBaoCaoTonKho" } })
            </div>
            <div class="form-group">
                <label class="control-label custom-label">Tháng</label>
                <div class="col-md-10 custom-input">
                    @ViewBag.ThangNam
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaNguoiDung, "Người Lập", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.NguoiDung.TenNguoiDung, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TongSoHangHoa, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.TongSoHangHoa, new { htmlAttributes = new { @class = "form-control disabled", @id = "tongSoHangHoa" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayLap, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.NgayLap, new { htmlAttributes = new { @class = "form-control datetimepicker", @id = "ngayLap" } })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" style="width: 70%; float: left !important; margin-left: 2%">
    <div class="form-horizontal">
        <div>
            <div class="pull-left">
                <p class="card-title-heading" id="pageTitle">Chi Tiết Báo Cáo Tồn Kho</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div id="orderItems" class="table-responsive"></div>
        <div id="Items" hidden class="table-responsive"></div>
    </div>
</div>
