@model IEnumerable<QuanLyCuaHangThoiTrang.Model.BaoCaoBanHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.TenNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongPhieuBanHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTienBanHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTienNhapHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongDoanhThu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.TenNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongPhieuBanHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTienBanHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTienNhapHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongDoanhThu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBaoCaoBanHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBaoCaoBanHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBaoCaoBanHang })
        </td>
    </tr>
}

</table>
