@using PagedList.Mvc
@model PagedList.IPagedList<QuanLyCuaHangThoiTrang.Model.PhieuXuatKho>
@{ Layout = null; }
<div class="table-responsive">
    <table class="table table-bordered table-middle table-lilac" id="datatable">
        <thead>
            <tr>
                <th class="text-center" style="width: 10%;">Số Phiếu</th>
                <th class="text-center" style="width: 15%;">Ngày Xuất Kho</th>
                <th class="text-center" style="width: 20%;">Người Lập</th>
                <th class="text-center" style="width: 30%;">Lý Do Xuất</th>
                <th class="text-center" style="width: 15%;">Tổng Tiền</th>
                <th class="text-center" style="width: 10%;">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (!item.IsDeleted)
                {
                    <tr class="border-warning" style="text-align:center">
                        <td>
                            @item.SoPhieuXuatKho
                        </td>
                        <td>
                            @item.NgayXuatKho.ToString("MM/dd/yyyy")
                        </td>
                        <td>
                            @item.NguoiDung.TenNguoiDung
                        </td>
                        <td>
                            @item.LyDoXuat
                        </td>
                        <td>
                            @item.TongTien
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit", new { id = item.SoPhieuXuatKho })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-edit"></i></a>
                            <a href="@Url.Action("Details", new { id = item.SoPhieuXuatKho })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-info-circle"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="pull-left" style="padding-top:20px">
        <h3 class="panel-title">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </h3>
    </div>
    <div class="pull-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
