@model QuanLyCuaHangThoiTrang.Model.PhieuXuatKho

@{
    ViewBag.Title = "THÔNG TIN PHIẾU XUẤT KHO";
    ViewBag.SubTitle = "Tùy chỉnh các trường thông tin ở phía dưới";
}
<div class="card" style="width: 25%; float: left !important">
    <div class="form-horizontal">
        <div>
            <div class="pull-left">
                <p class="card-title-heading" id="pageTitle">Phiếu Xuất Kho</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        <div>

            @Html.AntiForgeryToken()
            <div hidden>
                @Html.DisplayFor(model => model.SoPhieuXuatKho, new { htmlAttributes = new { @class = "form-control", @id = "soPhieuXuatKho" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NgayXuatKho, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.NgayXuatKho, new { htmlAttributes = new { @class = "form-control datetimepicker disabled", @id = "ngayXuatKho" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaNguoiDung, "Người Lập", htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.NguoiDung.TenNguoiDung, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LyDoXuat, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.LyDoXuat, new { htmlAttributes = new { @class = "form-control disabled", @id = "lyDoXuat" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TongTien, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control disabled", @id = "tongTien" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayChinhSua, htmlAttributes: new { @class = "control-label custom-label" })
                <div class="col-md-10 custom-input">
                    @Html.DisplayFor(model => model.NgayChinhSua, new { htmlAttributes = new { @class = "form-control datetimepicker disabled", @id = "ngayChinhSua" } })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" style="width: 70%; float: left !important; margin-left: 2%">
    <div class="form-horizontal">
        <form>
            <div>
                <div class="pull-left">
                    <p class="card-title-heading" id="pageTitle">Chi Tiết Phiếu Xuất Kho</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr />
            <div id="orderItems" class="table-responsive"></div>
            <div id="Items" hidden class="table-responsive"></div>
        </form>
    </div>
</div>
