@using PagedList.Mvc
@model PagedList.IPagedList<QuanLyCuaHangThoiTrang.Model.HangHoa>
@{ 
    Layout = null;
 }
<div class="table-responsive">
    <table class="table table-bordered table-middle table-lilac" id="datatable">
        <thead>
            <tr>
                <th class="text-center" style="width: 10%;">Mã Số</th>
                <th class="text-center" style="width: 10%;">Loại</th>
                <th class="text-center" style="width: 15%;">Tên Hàng Hóa</th>
                <th class="text-center" style="width: 10%;">Giá Bán</th>
                <th class="text-center" style="width: 10%;">Giảm Giá</th>
                <th class="text-center" style="width: 5%;">Số Lượng</th>
                <th class="text-center" style="width: 5%;">Size</th>
                <th class="text-center" style="width: 10%;">Thương Hiệu</th>
                <th class="text-center" style="width: 10%;">Trạng Thái</th>
                <th class="text-center" style="width: 10%;">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="border-warning" style="text-align:center">
                <td>
                    @item.MaHangHoa
                </td>
                <td>
                    @item.LoaiHangHoa.TenLoaiHangHoa
                </td>
                <td>
                    @item.TenHangHoa
                </td>
                <td>
                    @item.GiaBan
                </td>
                <td>
                    @item.GiamGia
                </td>
                <td>
                    @item.SoLuong
                </td>
                <td>
                    @item.Size
                </td>
                <td>
                    @item.ThuongHieu
                </td>

                @if (item.IsDeleted)
                {
                    <td>
                        Ngừng Kinh Doanh
                    </td> 
                }
                else
                {
                    <td>
                        Đang Kinh Doanh
                    </td>
                }
            <td class="text-center">
                <a href="@Url.Action("Edit", new { id = item.MaHangHoa })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-edit"></i></a>
                 @Ajax.RawActionLink("<i class=\"fas fa-info-circle\"></i>", "Details", "HangHoa",
                                                                                                new { id = item.MaHangHoa },
                                                                                                new AjaxOptions
                                                                                                {
                                                                                                    HttpMethod = "GET",
                                                                                                    UpdateTargetId = "Modal",
                                                                                                    LoadingElementId = "loading"
                                                                                                },
                                                                                                new
                                                                                                {
                                                                                                    @class = "btn btn-sm btn-success btn-xs btn-push btnDel",
                                                                                                })
                @Ajax.RawActionLink("<i class=\"fas fa-trash-alt\"></i>", "Delete", "HangHoa",
                    new { id = item.MaHangHoa },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "Modal",
                        LoadingElementId = "loading"
                    },
                    new
                    {
                        @class = "btn btn-sm btn-success btn-xs btn-push btnDel",
                    })
            </td>
            </tr>                
            }
        </tbody>
    </table>
    <div class="pull-left" style="padding-top:20px">
        <h3 class="panel-title">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </h3>
    </div>
    <div class="pull-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
