@model IEnumerable<QuanLyCuaHangThoiTrang.Model.HangHoa>

@{
    ViewBag.Title = "Quản Lý Hàng Hóa";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiHangHoa.TenLoaiHangHoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHangHoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBaoHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiHangHoa.TenLoaiHangHoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHangHoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonViTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuongHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHangHoa }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHangHoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHangHoa })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Quản Lý Loại Hàng Hóa", "Index", "LoaiHangHoa")
</p>