
@using PagedList.Mvc
@model PagedList.IPagedList<QuanLyCuaHangThoiTrang.Model.NguoiDung>
@{ Layout = null; }
<div class="table-responsive">
    <table class="table table-bordered table-middle table-lilac" id="datatable">
        <thead>
            <tr>
                <th class="text-center" style="width: 15%;">Nhân viên</th>
                <th class="text-center" style="width: 15%;">Tên đăng nhập</th>
                <th class="text-center" style="width: 12.5%;">Chức vụ</th>
                <th class="text-center" style="width: 12.5%;">Số điện thoại</th>
                <th class="text-center" style="width: 12.5%;">Email</th>
                <th class="text-center" style="width: 17.5%;">Trạng thái</th>
                <th class="text-center" style="width: 15%;">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               
            <tr class="border-warning" style="text-align:center">
                <td align="left">
                    <img src="~/images/avatar/@item.Avatar" width="50" height="50" class="img-circle img-bordered-theme">
                    <span>@item.TenNguoiDung</span>
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.ChucVu.TenChucVu
                </td>
                <td>
                    @item.SoDienThoai
                </td>
                <td>
                    @item.Email
                </td>
                @if (!item.IsDeleted)
                {
                    <td>Đang hoạt động</td>
                }
                else
                {
                    <td>Ngừng hoạt động</td>
                }

            <td class="text-center">
                <a href="@Url.Action("Edit", new { id = item.MaNguoiDung })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-edit"></i></a>
                @Ajax.RawActionLink("<i class=\"fas fa-trash-alt\"></i>", "Delete", "NguoiDung",
                                                 new { id = item.MaNguoiDung },
                                                 new AjaxOptions
                                                 {
                                                     HttpMethod = "GET",
                                                     UpdateTargetId = "Modal",
                                                     LoadingElementId = "loading"
                                                 },
                                                 new
                                                 {
                                                     @class = "btn btn-sm btn-success btn-xs btn-push btnDel",
                                                 })
                @*<a href="@Url.Action("Delete", new { id = item.MaNguoiDung })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-trash-alt"></i></a>*@
                <a href="@Url.Action("Details", new { id = item.MaNguoiDung })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fas fa-info-circle"></i></a>
            </td>
            </tr>
                
            }
        </tbody>
    </table>
    <div class="pull-left" style="padding-top:20px">
        <h3 class="panel-title">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </h3>
    </div>
    <div class="pull-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
