@*@model QuanLyCuaHangThoiTrang.Model.PhieuChi*@
@using QuanLyCuaHangThoiTrang.Model;
@{
    ViewBag.Title = "Create";
    var user = (NguoiDung)Session["Account"];

}


<div class="col-md-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Tạo phiếu chi</h5>
            @using (Html.BeginForm("TaoPhieuChi", "PhieuChi", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="position-relative form-group">
                    <label for="NgayChi" class="">Ngày chi</label>
                    <input value="@DateTime.Now.ToString("dd/MM/yyyy")" name="NgayChi" id="Ngaychi" placeholder="" type="text" class="form-control" readonly>
                </div>
                <div class="position-relative form-group">
                    <label for="Nguoidung" class="">Tên người dùng</label>
                    <input value="@user.TenNguoiDung" name="Nguoidung" id="Nguoidung" placeholder="" type="text" class="form-control" readonly>
                </div>
                <div class="position-relative form-group">
                    <label for="Sophieunhapkho" class="">Số phiếu nhập kho</label>
                    @Html.DropDownList("Sophieunhapkho", new SelectList(ViewBag.SoPhieuNhapKho, "Value", "Text"), "", new { @id = "Sophieunhapkho", @class = "form-control minimal", @required = "required" })
                </div>
                <div class="position-relative form-group">
                    <label for="Tongtienchi" class="">Tổng tiền chi</label>
                    <input name="Tongtienchi" id="Tongtienchi" placeholder="" type="text" class="form-control" readonly>
                </div>
                <div class="position-relative form-group">
                    <label for="Ghichu" class="">Ghi chú</label>
                    <textarea name="Ghichu" id="Ghichu" class="form-control"></textarea>
                </div>
                <button type="submit" class="mt-1 btn btn-primary">Submit</button>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#Sophieunhapkho').change(function () {
            $('#Sophieunhapkho').change(function () {
                if ($('#Sophieunhapkho').val() == '')
                    $('#Tongtienchi').val('');
                else {

                    $.getJSON('/PhieuChi/TongTienChi', { id: $('#Sophieunhapkho').val() }, function (data) {
                        $.each(JSON.parse(data), function (i, row) {
                            console.log(data);
                            console.log(i);
                            console.log(row);
                            $('#Tongtienchi').val(row)
                        });
                    });
                }

            });
        });
    });
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
