@model QuanLyCuaHangThoiTrang.Model.PhieuChi

@{
    ViewBag.Title = "Delete";
    Layout = null;
}


<div class="card popupcontent">
    <div class="form-horizontal">
        <div>
            <div class="pull-left">
                <p class="card-title-heading" id="pageTitle">Bạn có muốn xóa phiếu chi này?</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="grid-container" style="grid-template-columns: auto">
        <div class="form-group">
            <label for="NgayChi" class="control-label custom-label">Ngày chi</label>
            <div class="col-md-10 custom-input">
                <input value="@DateTime.Now.ToString("dd/MM/yyyy")" name="NgayChi" id="Ngaychi" placeholder="" type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="Nguoidung" class="control-label custom-label">Tên người lập</label>
            <div class="col-md-10 custom-input">
                <input value="@Model.NguoiDung.TenNguoiDung" name="Nguoidung" id="Nguoidung" placeholder="" type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="Sophieunhapkho" class="control-label custom-label">Số phiếu chi</label>
            <div class="col-md-10 custom-input">
                <input value="@Model.SoPhieuChi" placeholder="" type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="Sophieunhapkho" class="control-label custom-label ">Số phiếu nhập kho</label>
            <div class="col-md-10 custom-input">
                <input value="@Model.SoPhieuNhapKho" placeholder="" type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="Tongtienchi" class="control-label custom-label">Tổng tiền chi</label>
            <div class="col-md-10 custom-input">
                <input value="@String.Format("{0:n0}", Model.TongTienChi)" name="Tongtienchi" id="Tongtienchi" placeholder="" type="text" class="form-control" readonly>
            </div>

        </div>
        <div class="form-group">
            

        </div>
        <div class="form-group">
            <label for="Ghichu" class="control-label custom-label">Ghi chú</label>
            <div class="col-md-10 custom-input">
                <textarea value="@Model.GhiChu" name="Ghichu" id="Ghichu" class="form-control" readonly></textarea>
            </div>

        </div>
    </div>

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" />

            </div>
        }

    </div>
</div>
