@model QuanLyCuaHangThoiTrang.Model.PhanQuyen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhanQuyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChucVu.TenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.TenChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen.TenQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen.TenQuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuThich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuThich)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
