@model IEnumerable<QuanLyCuaHangThoiTrang.Model.PhanQuyen>

@{
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu.TenChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quyen.TenQuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuThich)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu.TenChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quyen.TenQuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuThich)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
