@using QuanLyCuaHangThoiTrang.Model;
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li> Đồ Nam</li>
                    <li> Đồ Nữ</li>
                    <li> Túi Xách</li>
                    <li> Giày</li>
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">
                        @{if (ViewBag.MenWears != null)
                            {
                                foreach (HangHoa hh in ViewBag.MenWears)
                                {
                                    double Sale = hh.GiamGia * 100; //fix bug % hang hoa
                                    <div class="col-md-3 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-front ">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-back ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @{ //neu co sale thi hien thi len
                                                    if (hh.GiamGia > 0)
                                                    { <span class="product-new-top">-@Sale%</span>}
                                                else
                                                { <span class="product-new-top">New</span> }
                                                }


                                            </div>
                                            <div class="item-info-product ">
                                                <h4><a href="single.html">@hh.TenHangHoa</a></h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">$@String.Format("{0:0,0}", (float)hh.GiaBan * (1 - hh.GiamGia))</span>
                                                    @{
                                                        if (hh.GiamGia > 0)
                                                        { <del>$@String.Format("{0:0,0}", hh.GiaBan)</del>}
                                                    }
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                    <form action="#" class="item" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="MaHangHoa" value="@hh.MaHangHoa" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="TenHangHoa" value="@hh.TenHangHoa" />
                                                            <input type="hidden" name="GiamGia" value="@hh.GiamGia" />
                                                            <input type="hidden" name="Gia" value="@hh.GiaBan" />
                                                            <input type="hidden" name="Size" value="@hh.Size" />
                                                            <input type="hidden" name="DonViTinh" value="@hh.DonViTinh" />
                                                            <input type="hidden" name="MoTa" value="@hh.MoTa" />
                                                            <input type="hidden" name="ThoiGianBaoHanh" value="@hh.ThoiGianBaoHanh" />
                                                            <input type="hidden" name="HinhAnh" value="@hh.HinhAnh" />
                                                            <input type="hidden" name="ThuongHieu" value="@hh.ThuongHieu" />
                                                            <input type="hidden" name="MaLoaiHangHoa" value="@hh.MaLoaiHangHoa" />
                                                            <input type="hidden" name="TonKho" value="@hh.SoLuong" />
                                                            <input type="submit" name="button" id="add-to-cart-btn" value="Thêm Vào Giỏ" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }

                        <div class="clearfix"></div>
                    </div>
                    <!--//tab_one-->
                    <!--/tab_two-->
                    <div class="tab2">
                        @{if (ViewBag.WomenWears != null)
                            {
                                foreach (HangHoa hh in ViewBag.WomenWears)
                                {
                                    double Sale = hh.GiamGia * 100; //fix bug % hang hoa
                                    <div class="col-md-3 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-front ">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-back ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @{ //neu co sale thi hien thi len
                                                    if (hh.GiamGia > 0)
                                                    { <span class="product-new-top">-@Sale%</span>}
                                                else
                                                { <span class="product-new-top">New</span> }
                                                }


                                            </div>
                                            <div class="item-info-product ">
                                                <h4><a href="single.html">@hh.TenHangHoa</a></h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">$@String.Format("{0:0,0}", (float)hh.GiaBan * (1 - hh.GiamGia))</span>
                                                    @{
                                                        if (hh.GiamGia > 0)
                                                        { <del>$@String.Format("{0:0,0}", hh.GiaBan)</del>}
                                                    }
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                    <form action="#" class="item" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="MaHangHoa" value="@hh.MaHangHoa" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="TenHangHoa" value="@hh.TenHangHoa" />
                                                            <input type="hidden" name="GiamGia" value="@hh.GiamGia" />
                                                            <input type="hidden" name="Gia" value="@hh.GiaBan" />
                                                            <input type="hidden" name="Size" value="@hh.Size" />
                                                            <input type="hidden" name="DonViTinh" value="@hh.DonViTinh" />
                                                            <input type="hidden" name="MoTa" value="@hh.MoTa" />
                                                            <input type="hidden" name="ThoiGianBaoHanh" value="@hh.ThoiGianBaoHanh" />
                                                            <input type="hidden" name="HinhAnh" value="@hh.HinhAnh" />
                                                            <input type="hidden" name="ThuongHieu" value="@hh.ThuongHieu" />
                                                            <input type="hidden" name="MaLoaiHangHoa" value="@hh.MaLoaiHangHoa" />
                                                            <input type="hidden" name="TonKho" value="@hh.SoLuong" />
                                                            <input type="submit" name="button" id="add-to-cart-btn" value="Thêm Vào Giỏ" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                    <!--//tab_two-->
                    <!--//tab_three-->
                    <div class="tab3">
                        @{if (ViewBag.Bags != null)
                            {
                                foreach (HangHoa hh in ViewBag.Bags)
                                {
                                    double Sale = hh.GiamGia * 100; //fix bug % hang hoa
                                    <div class="col-md-3 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-front ">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-back ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @{ //neu co sale thi hien thi len
                                                    if (hh.GiamGia > 0)
                                                    { <span class="product-new-top">-@Sale%</span>}
                                                else
                                                { <span class="product-new-top">New</span> }
                                                }


                                            </div>
                                            <div class="item-info-product ">
                                                <h4><a href="single.html">@hh.TenHangHoa</a></h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">$@String.Format("{0:0,0}", (float)hh.GiaBan * (1 - hh.GiamGia))</span>
                                                    @{
                                                        if (hh.GiamGia > 0)
                                                        { <del>$@String.Format("{0:0,0}", hh.GiaBan)</del>}
                                                    }
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                    <form action="#" class="item" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="MaHangHoa" value="@hh.MaHangHoa" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="TenHangHoa" value="@hh.TenHangHoa" />
                                                            <input type="hidden" name="GiamGia" value="@hh.GiamGia" />
                                                            <input type="hidden" name="Gia" value="@hh.GiaBan" />
                                                            <input type="hidden" name="Size" value="@hh.Size" />
                                                            <input type="hidden" name="DonViTinh" value="@hh.DonViTinh" />
                                                            <input type="hidden" name="MoTa" value="@hh.MoTa" />
                                                            <input type="hidden" name="ThoiGianBaoHanh" value="@hh.ThoiGianBaoHanh" />
                                                            <input type="hidden" name="HinhAnh" value="@hh.HinhAnh" />
                                                            <input type="hidden" name="ThuongHieu" value="@hh.ThuongHieu" />
                                                            <input type="hidden" name="MaLoaiHangHoa" value="@hh.MaLoaiHangHoa" />
                                                            <input type="hidden" name="TonKho" value="@hh.SoLuong" />
                                                            <input type="submit" name="button" id="add-to-cart-btn" value="Thêm Vào Giỏ" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab4">
                        @{if (ViewBag.FoorWears != null)
                            {
                                foreach (HangHoa hh in ViewBag.FootWears)
                                {
                                    double Sale = hh.GiamGia * 100; //fix bug % hang hoa
                                    <div class="col-md-3 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-front ">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-back ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @{ //neu co sale thi hien thi len
                                                    if (hh.GiamGia > 0)
                                                    { <span class="product-new-top">-@Sale%</span>}
                                                else
                                                { <span class="product-new-top">New</span> }
                                                }


                                            </div>
                                            <div class="item-info-product ">
                                                <h4><a href="single.html">@hh.TenHangHoa</a></h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">$@String.Format("{0:0,0}", (float)hh.GiaBan * (1 - hh.GiamGia))</span>
                                                    @{
                                                        if (hh.GiamGia > 0)
                                                        { <del>$@String.Format("{0:0,0}", hh.GiaBan)</del>}
                                                    }
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                    <form action="#" class="item" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="MaHangHoa" value="@hh.MaHangHoa" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="TenHangHoa" value="@hh.TenHangHoa" />
                                                            <input type="hidden" name="GiamGia" value="@hh.GiamGia" />
                                                            <input type="hidden" name="Gia" value="@hh.GiaBan" />
                                                            <input type="hidden" name="Size" value="@hh.Size" />
                                                            <input type="hidden" name="DonViTinh" value="@hh.DonViTinh" />
                                                            <input type="hidden" name="MoTa" value="@hh.MoTa" />
                                                            <input type="hidden" name="ThoiGianBaoHanh" value="@hh.ThoiGianBaoHanh" />
                                                            <input type="hidden" name="HinhAnh" value="@hh.HinhAnh" />
                                                            <input type="hidden" name="ThuongHieu" value="@hh.ThuongHieu" />
                                                            <input type="hidden" name="MaLoaiHangHoa" value="@hh.MaLoaiHangHoa" />
                                                            <input type="hidden" name="TonKho" value="@hh.SoLuong" />
                                                            <input type="submit" name="button" id="add-to-cart-btn" value="Thêm Vào Giỏ" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- //new_arrivals -->
    <!-- /we-offer -->
    <div class="sale-w3ls">
        <div class="container">
            <h6>We Offer Flat <span>40%</span> Discount</h6>

            <a class="hvr-outline-out button2" href="single.html">Shop Now </a>
        </div>
    </div>
    <!-- //we-offer -->
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info">Sale <span>Deals</span></h3>
            <div id="horizontalTab-sale">
                <ul class="resp-tabs-list">
                    <li> Đồ Nam</li>
                    <li> Đồ Nữ</li>
                    <li> Túi Xách</li>
                    <li> Giày</li>
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">
                        @{if (ViewBag.MenWears_Sale != null)
                            {
                                foreach (HangHoa hh in ViewBag.MenWears_Sale)
                                {
                                    double Sale = hh.GiamGia * 100; //fix bug % hang hoa
                                    <div class="col-md-3 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-front ">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-back ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @{ //neu co sale thi hien thi len
                                                    if (hh.GiamGia > 0)
                                                    { <span class="product-new-top">-@Sale%</span>}
                                                else
                                                { <span class="product-new-top">New</span> }
                                                }


                                            </div>
                                            <div class="item-info-product ">
                                                <h4><a href="single.html">@hh.TenHangHoa</a></h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">$@String.Format("{0:0,0}", (float)hh.GiaBan * (1 - hh.GiamGia))</span>
                                                    @{
                                                        if (hh.GiamGia > 0)
                                                        { <del>$@String.Format("{0:0,0}", hh.GiaBan)</del>}
                                                    }
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                    <form action="#" class="item" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="MaHangHoa" value="@hh.MaHangHoa" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="TenHangHoa" value="@hh.TenHangHoa" />
                                                            <input type="hidden" name="GiamGia" value="@hh.GiamGia" />
                                                            <input type="hidden" name="Gia" value="@hh.GiaBan" />
                                                            <input type="hidden" name="Size" value="@hh.Size" />
                                                            <input type="hidden" name="DonViTinh" value="@hh.DonViTinh" />
                                                            <input type="hidden" name="MoTa" value="@hh.MoTa" />
                                                            <input type="hidden" name="ThoiGianBaoHanh" value="@hh.ThoiGianBaoHanh" />
                                                            <input type="hidden" name="HinhAnh" value="@hh.HinhAnh" />
                                                            <input type="hidden" name="ThuongHieu" value="@hh.ThuongHieu" />
                                                            <input type="hidden" name="MaLoaiHangHoa" value="@hh.MaLoaiHangHoa" />
                                                            <input type="hidden" name="TonKho" value="@hh.SoLuong" />
                                                            <input type="submit" name="button" id="add-to-cart-btn" value="Thêm Vào Giỏ" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }

                        <div class="clearfix"></div>
                    </div>
                    <!--//tab_one-->
                    <!--/tab_two-->
                    <div class="tab2">
                        @{if (ViewBag.WomenWears_Sale != null)
                            {
                                foreach (HangHoa hh in ViewBag.WomenWears_Sale)
                                {
                                    double Sale = hh.GiamGia * 100; //fix bug % hang hoa
                                    <div class="col-md-3 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-front ">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-back ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @{ //neu co sale thi hien thi len
                                                    if (hh.GiamGia > 0)
                                                    { <span class="product-new-top">-@Sale%</span>}
                                                else
                                                { <span class="product-new-top">New</span> }
                                                }


                                            </div>
                                            <div class="item-info-product ">
                                                <h4><a href="single.html">@hh.TenHangHoa</a></h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">$@String.Format("{0:0,0}", (float)hh.GiaBan * (1 - hh.GiamGia))</span>
                                                    @{
                                                        if (hh.GiamGia > 0)
                                                        { <del>$@String.Format("{0:0,0}", hh.GiaBan)</del>}
                                                    }
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                    <form action="#" class="item" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="MaHangHoa" value="@hh.MaHangHoa" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="TenHangHoa" value="@hh.TenHangHoa" />
                                                            <input type="hidden" name="GiamGia" value="@hh.GiamGia" />
                                                            <input type="hidden" name="Gia" value="@hh.GiaBan" />
                                                            <input type="hidden" name="Size" value="@hh.Size" />
                                                            <input type="hidden" name="DonViTinh" value="@hh.DonViTinh" />
                                                            <input type="hidden" name="MoTa" value="@hh.MoTa" />
                                                            <input type="hidden" name="ThoiGianBaoHanh" value="@hh.ThoiGianBaoHanh" />
                                                            <input type="hidden" name="HinhAnh" value="@hh.HinhAnh" />
                                                            <input type="hidden" name="ThuongHieu" value="@hh.ThuongHieu" />
                                                            <input type="hidden" name="MaLoaiHangHoa" value="@hh.MaLoaiHangHoa" />
                                                            <input type="hidden" name="TonKho" value="@hh.SoLuong" />
                                                            <input type="submit" name="button" id="add-to-cart-btn" value="Thêm Vào Giỏ" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                    <!--//tab_two-->
                    <!--//tab_three-->
                    <div class="tab3">
                        @{if (ViewBag.Bags_Sale != null)
                            {
                                foreach (HangHoa hh in ViewBag.Bags_Sale)
                                {
                                    double Sale = hh.GiamGia * 100; //fix bug % hang hoa
                                    <div class="col-md-3 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-front ">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-back ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @{ //neu co sale thi hien thi len
                                                    if (hh.GiamGia > 0)
                                                    { <span class="product-new-top">-@Sale%</span>}
                                                else
                                                { <span class="product-new-top">New</span> }
                                                }


                                            </div>
                                            <div class="item-info-product ">
                                                <h4><a href="single.html">@hh.TenHangHoa</a></h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">$@String.Format("{0:0,0}", (float)hh.GiaBan * (1 - hh.GiamGia))</span>
                                                    @{
                                                        if (hh.GiamGia > 0)
                                                        { <del>$@String.Format("{0:0,0}", hh.GiaBan)</del>}
                                                    }
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                    <form action="#" class="item" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="MaHangHoa" value="@hh.MaHangHoa" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="TenHangHoa" value="@hh.TenHangHoa" />
                                                            <input type="hidden" name="GiamGia" value="@hh.GiamGia" />
                                                            <input type="hidden" name="Gia" value="@hh.GiaBan" />
                                                            <input type="hidden" name="Size" value="@hh.Size" />
                                                            <input type="hidden" name="DonViTinh" value="@hh.DonViTinh" />
                                                            <input type="hidden" name="MoTa" value="@hh.MoTa" />
                                                            <input type="hidden" name="ThoiGianBaoHanh" value="@hh.ThoiGianBaoHanh" />
                                                            <input type="hidden" name="HinhAnh" value="@hh.HinhAnh" />
                                                            <input type="hidden" name="ThuongHieu" value="@hh.ThuongHieu" />
                                                            <input type="hidden" name="MaLoaiHangHoa" value="@hh.MaLoaiHangHoa" />
                                                            <input type="hidden" name="TonKho" value="@hh.SoLuong" />
                                                            <input type="submit" name="button" id="add-to-cart-btn" value="Thêm Vào Giỏ" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab4">
                        @{if (ViewBag.FootWears_Sale != null)
                            {
                                foreach (HangHoa hh in ViewBag.FootWears_Sale)
                                {
                                    double Sale = hh.GiamGia * 100; //fix bug % hang hoa
                                    <div class="col-md-3 product-men">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-front ">
                                                <img style="width: 248px; height: 255px;" src="~/images/@hh.HinhAnh" alt="" class="pro-image-back ">
                                                <div class="men-cart-pro">
                                                    <div class="inner-men-cart-pro">
                                                        <a href="single.html" class="link-product-add-cart">Quick View</a>
                                                    </div>
                                                </div>
                                                @{ //neu co sale thi hien thi len
                                                    if (hh.GiamGia > 0)
                                                    { <span class="product-new-top">-@Sale%</span>}
                                                else
                                                { <span class="product-new-top">New</span> }
                                                }


                                            </div>
                                            <div class="item-info-product ">
                                                <h4><a href="single.html">@hh.TenHangHoa</a></h4>
                                                <div class="info-product-price">
                                                    <span class="item_price">$@String.Format("{0:0,0}", (float)hh.GiaBan * (1 - hh.GiamGia))</span>
                                                    @{
                                                        if (hh.GiamGia > 0)
                                                        { <del>$@String.Format("{0:0,0}", hh.GiaBan)</del>}
                                                    }
                                                </div>
                                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                    <form action="#" class="item" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="MaHangHoa" value="@hh.MaHangHoa" />
                                                            <input type="hidden" name="add" value="1" />
                                                            <input type="hidden" name="TenHangHoa" value="@hh.TenHangHoa" />
                                                            <input type="hidden" name="GiamGia" value="@hh.GiamGia" />
                                                            <input type="hidden" name="Gia" value="@hh.GiaBan" />
                                                            <input type="hidden" name="Size" value="@hh.Size" />
                                                            <input type="hidden" name="DonViTinh" value="@hh.DonViTinh" />
                                                            <input type="hidden" name="MoTa" value="@hh.MoTa" />
                                                            <input type="hidden" name="ThoiGianBaoHanh" value="@hh.ThoiGianBaoHanh" />
                                                            <input type="hidden" name="HinhAnh" value="@hh.HinhAnh" />
                                                            <input type="hidden" name="ThuongHieu" value="@hh.ThuongHieu" />
                                                            <input type="hidden" name="MaLoaiHangHoa" value="@hh.MaLoaiHangHoa" />
                                                            <input type="hidden" name="TonKho" value="@hh.SoLuong" />
                                                            <input type="submit" name="button" id="add-to-cart-btn" value="Thêm Vào Giỏ" class="button" />
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

